#
# Setup DELPHI
#
if [[ ! -v DELPHI ]]; then
    source /cvmfs/delphi.cern.ch/setup.sh
fi
# Setup Key4HEP
#
if [[ ! -v KEY4HEP_STACK ]]; then
    source /cvmfs/sw.hsf.org/key4hep/setup.sh -r  latest
fi
