#
# Setup DELPHI
#
if [ -z "${DELPHI+x}" ]; then
    source /cvmfs/delphi.cern.ch/setup.sh
fi

#
# Setup key4hep
#
if [ -z "${KEY4HEP_STACK+x}" ]; then
    source /cvmfs/sw.hsf.org/key4hep/setup.sh -r latest >/dev/null
fi
#
# Access to the datamodel classes for ROOT I/O
#
echo "DIR: $(dirname "${BASH_SOURCE[0]}")"
export LD_LIBRARY_PATH=${DIR}/build/datamodel:${LD_LIBRARY_PATH}
